body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

h1 {
  font-family: "bebas neue", sans-serif;
  font-size: 4rem;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-container {
  display: flex;
  gap: 0.5rem;
}

.form-container > input {
  border: none;
  font-size: 1rem;
  padding: 1rem;
  border-radius: 5px;
  font-family: roboto, sans-serif;
}

.form-container > button {
  border: none;
  padding: 1rem;
  border-radius: 5px;
  background-color: #26bfbf;
  font-family: roboto, sans-serif;
  font-weight: 600;
  color: #fff;
}

.form-container > button:hover {
  background-color: #22a0a0;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.color-list-container {
  margin: 2rem 2rem;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0.2rem;
}

.color-container {
  position: relative;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 5px;
  padding: 2.5rem;
}

.color-info {
  opacity: 0;
}

.color-info:hover{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(234, 234, 234, 0.5);
  border-radius: 2.5px;
  padding: 0.5rem;
  width: 70px;
  height: 70px;
  font-family: roboto, sans-serif;
  font-size: 0.7rem;
  color: #181818;
  font-weight: 500;
  opacity: 1;
  cursor: pointer;
}

.color-info > p {
  margin: 0;
}

.copy-icon {
  margin-top: 0.5rem;
  color: #c9c9c9;
  font-size: 1.5rem;
}

.color-container button {
  border: none;
}

.color-container .estado-porta {
  position: absolute;
  font-family: roboto, sans-serif;
  font-size: 0.8rem;
  bottom: 0px;
  pointer-events: none;
}

@media (max-width: 600px) {
  .color-list-container {
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: auto;
  }

  .color-container {
    width: 70px; 
    height: 70px;
    padding: 1rem; 
  }

  .form-container {
    flex-direction: column; 
    gap: 1rem;
  }

  .form-container > input {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  .form-container > button {
    font-size: 0.9rem;
    padding: 0.8rem;
  }

  h1 {
    font-size: 1.5rem; 
  }

  .copy-icon {
    font-size: 1.2rem;
  }
}



@media (min-width: 601px) and (max-width: 1024px) {
  .color-list-container {
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: auto;
  }

  .color-container {
    width: 90px; 
    height: 90px;
    padding: 1.5rem;
  }

  .form-container {
    flex-direction: row; 
  }

  .form-container > input {
    font-size: 1rem; 
    padding: 1rem;
  }

  .form-container > button {
    font-size: 1rem;
    padding: 1rem;
  }

  h1 {
    font-size: 3rem;
  }

  .copy-icon {
    font-size: 1.4rem;
  }
}